body{
     background: #BDBDBD;
     margin: 0;
    }
div{box-sizing: border-box;
}
header{background: white;
        
}

     

div.post{background: white;
        margin-top: 10px;
        margin-bottom: 20px;
    
}
div.post img{
    width: 100%;
}
div.post .post-header h2:first-child{
    display: flex;
    
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 15%;
    text-align: right;
    padding-right: 10px;
    color: black;
    font-size: 30px;
    
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container{
    width: 600px;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
.post-header {font-size: 15px;}
.marginright{
    margin-right: 477px;
}
.sit{padding-left: 10px}

.post-header{display: flex;}

.flex-post-header{ display: flex;
                    margin-bottom: 10px;
}

.box2{ width: 90%;
        font-size: 20px;

    
}
.box1{ height: 20px;}

.box3{
    margin-top: 15px;
}